h1{
  text-align: center;
}

div.visible {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted black;
  overflow: visible;
}
div.hidden {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted black;
  overflow: hidden;
}
div.scroll {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted black;
  overflow: scroll;
}
div.Auto {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted black;
  overflow: auto;
}
div.xy {
  background-color: #eee;
  width: 200px;
  height: 50px;
  border: 1px dotted black;
  white-space: nowrap;
  overflow-x: scroll;
}
