@charset "utf-8";
/* CSS Document */

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

ul.image {
  list-style-image: url('list.png');
}

ul.positionOutside{
	list-style-position: outside;
}

ul.positionInside{
	list-style-position: inside;
}

ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

h1 {
	text-align: center;
}