<!-- Write necessary code-->
<div class="login-view-wrapper custom-container">
	<div class="login-view">
		<div class="logo-wrapper">
			<img src="./../assets/login.png" width="100" height="100" />
			<h2>LOGIN</h2>
		</div>
		<div class="login-form-wrapper">
			<form class="ro-form" [formGroup]="loginForm" (ngSubmit)="doLogin()">
				<div class="form-group">
					<label class="labelHead" for="username">
						<b>Username</b>
					</label>
					<input
						type="text"
						id="username"
						placeholder="username"
						formControlName="userName"
					/>
					<span
						*ngIf="
							!loginForm.get('userName').valid &&
							loginForm.get('userName').touched
						"
					>
						<div
							class="form-error-messages"
							id="error-no-username"
							*ngIf="loginForm.get('userName').errors['required']"
						>
							{{ emptyUserName }}
						</div>
						<div
							class="form-error-messages"
							id="error-minlength-username"
							*ngIf="loginForm.get('userName').errors['minlength']"
						>
							{{ minlengthUserName }}
						</div>
						<div
							class="form-error-messages"
							id="error-maxlength-username"
							*ngIf="loginForm.get('userName').errors['maxlength']"
						>
							{{ maxlengthUserName }}
						</div>
						<div
							class="form-error-messages"
							id="error-pattern-username"
							*ngIf="loginForm.get('userName').errors['pattern']"
						>
							{{ userNamePattern }}
						</div>
					</span>
				</div>
				<div class="form-group">
					<label class="labelHead" for="password">
						<b>Password</b>
					</label>
					<input
						type="password"
						id="password"
						placeholder="password"
						formControlName="password"
					/>
					<span
						*ngIf="
							!loginForm.get('password').valid &&
							loginForm.get('password').touched
						"
					>
						<div
							class="form-error-messages"
							id="error-no-password"
							*ngIf="loginForm.get('password').errors['required']"
						>
							{{ emptyPassword }}
						</div>
						<div
							class="form-error-messages"
							id="error-minlength-password"
							*ngIf="loginForm.get('password').errors['minlength']"
						>
							{{ minlengthPassword }}
						</div>
						<div
							class="form-error-messages"
							id="error-maxlength-password"
							*ngIf="loginForm.get('password').errors['maxlength']"
						>
							{{ maxlengthPassword }}
						</div>
						<div
							class="form-error-messages"
							id="error-pattern-password"
							*ngIf="loginForm.get('password').errors['pattern']"
						>
							{{ passwordPattern }}
						</div>
					</span>
				</div>
				<div class="col-sm-12 clmn12">
					<!-- disable button if form not valid -->
					<!-- call doLogin method when clicking on this button-->
					<button
						id="loginBtn"
						class="login-btn"
						type="submit"
						[disabled]="!loginForm.valid"
					>
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
