<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Project Name">Project Name</label>
          <input
            type="text"
            name="Project Name"
            formControlName="projectName"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="
              !projectForm.get('projectName').valid &&
              projectForm.get('projectName').touched
            "
            >Please enter valid Name!</span
          >
        </div>
        <div class="form-group">
          <label for="mail">Mail</label>
          <input
            type="email"
            name="mail"
            class="form-control"
            formControlName="mail"
          />
          <span
            class="help-block"
            *ngIf="
              !projectForm.get('mail').valid && projectForm.get('mail').touched
            "
            >Please enter valid Email ID!</span
          >
        </div>
        <div class="form-group">
          <label for="Project Status">Project Status</label>
          <select
            class="form-control"
            name="Project Status"
            formControlName="projectStatus"
          >
            <option>Stable</option>
            <option>Critical</option>
            <option>Finished</option>
          </select>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!projectForm.valid"
        >
          Submit
        </button>
      </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>
