<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the app component</h3>
      <hr />
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div id="app-servers"></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>

<!-- <app-assignment-success-alert></app-assignment-success-alert>
<app-assignment-warning-alert></app-assignment-warning-alert>
<app-assignment-binding></app-assignment-binding> -->
<app-assignment-praticing-directives></app-assignment-praticing-directives>