h1 {
color : blue;
font-family : verdana;
font-size : 300%;
}
p {
color : red;
font-family : courier;
font-size : 200%;
border : 1px solid powderblue;
padding : 30px;
margin : 50px;
}
body{
	background-image: url("bulbOn.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
}

