<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="userName"
            />
            <span
              *ngIf="
                !signUpForm.get('userData.userName').valid &&
                signUpForm.get('userData.userName').touched
              "
              class="help-block"
            >
              <span
                *ngIf="
                  signUpForm.get('userData.userName').errors['isForbiddenUser']
                "
                >UserName is invalid please recheck!
              </span>
              <span
                *ngIf="signUpForm.get('userData.userName').errors['required']"
              >
                This field is required!
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            />
            <span
              *ngIf="
                !signUpForm.get('userData.email').valid &&
                signUpForm.get('userData.email').touched
              "
              class="help-block"
              >email is invalid please recheck!</span
            >
          </div>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" type="button" (click)="addHobby()">
            Add Hobby
          </button>
          <div
            class="form-group"
            *ngFor="let control of controls; let i = index"
          >
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender" />{{
              gender
            }}
          </label>
        </div>
        <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block"
          >Please enter valid data</span
        >
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
